/* --- Base Imports ------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* ------------------------------------ */

/* --- Wrappers ----------------------- */

.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: var(--backColor);
  width: 100vw;
  height: 100vh;
  color: var(--fontColor);
}

.DarkModeVars {
  --backColor: rgb(20, 20, 20);
  --fontColor: white;
  --borderColor: rgb(70, 70, 70);
  --wrongTile: rgb(40, 40, 40);
  --uncheckedTile: rgb(130, 130, 130);
}

.BrightModeVars {
  --backColor: white;
  --fontColor: rgb(20, 20, 20);
  --borderColor: rgb(160, 160, 160);
  --wrongTile: rgb(90, 90, 90);
  --uncheckedTile: rgb(40, 40, 40);
}

.game-wrapper {
  height: 100%;
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  padding: 0;
  margin: 0;
}

.board-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyboard-wrapper {
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* ------------------------------------ */

/* --- Header ------------------------- */

.header-wrapper .title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}

.header-btn-wrapper {
  margin-top: 5px;
}

.header-btn {
  font-size: 1.5em;
  margin-top: 5px;
  color: var(--borderColor);
}

.header-btn:hover {
  color: rgb(37, 37, 37);
}

/* ------------------------------------ */

/* --- Board -------------------------- */

.board-limits {
  height: 100%;
  max-height: 400px;
  max-width: 330px;
  width: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.board-limits .row {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
}

.tile-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-tile {
  width: 90%;
  height: 90%;
  position: relative;
  left: 5%;
  font-size: 1.7em;
  font-weight: bold;

  -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

.empty {
  background-color: transparent;
  border: 2px solid var(--borderColor);
  color: var(--fontColor);
}

.unchecked {
  background-color: transparent;
  border: 2px solid var(--uncheckedTile);
  color: var(--fontColor);
}

.correct {
  background-color: rgb(72, 134, 72);
  color: white;
  border: 0px;
}

.misplaced {
  background-color: rgb(177, 170, 76);
  color: white;
  border: 0px;
}

.wrong {
  background-color: var(--borderColor);
  color: white;
  border: 0px;
}

@keyframes redblink {  
  0% { background-color: transparent; border: 2px solid var(--borderColor); }
  15% { background-color: rgb(212, 12, 12); border: 0px; }
  85% { background-color: rgb(212, 12, 12); border: 0px; }
  100% { background-color: transparent; border: 2px solid var(--borderColor); }
}

.red {
    background-color: transparent;
    border: 2px solid var(--borderColor);
    animation-name: redblink;
    animation-duration: 0.4s; 
}   

/* ------------------------------------ */

/* --- Keyboard ----------------------- */

.keyboard-wrapper .row1,.row3 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyboard-wrapper .row2 {
  height: 100%;
  width: 90%;
  position: relative;
  left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.keyboard-button {
  width: 90%;
  height: 90%;
  position: relative;
  left: 5%;
  background-color: var(--borderColor);
  border: 0px;
  border-radius: 8%;
  color: var(--fontColor);
  font-weight: bold;

  -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

.keyboard-button:hover {
  background-color: rgb(94, 94, 94);
}

.btn-wrapper .wrong {
  background-color: var(--wrongTile);
}

.btn-wrapper .wrong:hover {
  background-color: var(--borderColor);
}

.btn-wrapper .correct {
  background-color: rgb(72, 134, 72);
}

.btn-wrapper .correct:hover {
  background-color: rgb(91, 173, 91);
}

.btn-wrapper .misplaced {
  background-color: rgb(177, 170, 76);
}

.btn-wrapper .misplaced:hover {
  background-color: rgb(218, 209, 91);
}

.delete-btn {
  font-size: 1.7em;
  text-align: center;
}

/* ------------------------------------ */

/* --- Modal -------------------------- */

.Modal {
  position: relative;
  color: white;
  font-family: 'Poppins', sans-serif;
  max-height: 455px;
  height: 90%;
  max-width: 500px;
  width: 90%;
  transform: translate(0, -50%);
  top: 50%;
  margin: auto;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 7px;
}

.Modal .modal-content {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Modal .modalRow1 {
  font-size: 1.5em;
  width: 97%;
  height: 10%;
  min-height: 1.7em;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}

.Modal .modalRow2 {
  width: 100%;
  height: 75%;
  display: flex;
  font-size: 5em;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

.Modal .modalRow3 {
  position: relative;
  left: 20%;
  width: 60%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.527);
}

.modal-close:hover {
  color: rgb(34, 34, 34);
  cursor: default;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.share-btn {
  background-color: rgb(105, 165, 105);
  border-color: transparent;
  height: 2.5em;
  width: 6.5em;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.share-btn:hover {
  background-color: rgb(85, 136, 85);
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}


/* ------------------------------------ */

/* --- Help Page ---------------------- */

.Help-Page {
  font-size: 1.5vmin;
  height: 100%;
  max-height: 600px;
  max-width: 4500px;
  width: 50vh;
  margin: auto;
  text-align: left;
}

/* ------------------------------------ */

/* --- Settings Page ------------------ */

.Settings-Page {
  font-size: 2em;
  height: 100%;
  max-height: 200px;
  width: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Settings-row {
  align-items: center;
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

.settings-btn {
  width: 80px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(207, 21, 21);
}

/* ------------------------------------ */
